Data Science Tools And Ecosystem

In This Notebook Data Science Tools And Ecosystem Are Summarised

objectives covered
OBJECTIVES:list of popular data sciencetist langauges, commonly used libraries ,simple arithemetrics expression ,conversions

       Some of the popular languages that Data Scientists use are:

1.python
2.sql
3.javascript
4.R

        Some of the commonly used libraries used by Data Scientists include:

1.numpy 2.pandas 3.matplotib 4.scikit-learn

|Datasciencetools|
|----------------|
|Jupiter notebook|
|pytorch|
|mlflow|

Below are a few examples of evaluating arithmetic expressions in Python

In [ ]:
This a simple arithmetic expression to mutiply then add integers.

In [17]:
(3*4)+5

17

In [ ]:
converting 200 minutes into hours

In [ ]:
This will convert 200 minutes to hours by diving by 60

In [25]:
200/60

3.3333333333333335

AUTHOR 

GODWIN DANIEL